body {
  color: cornsilk;
  background-color: black;
  text-align: center;
  font-family: Monoton, cursive;
  font-size: 50px;
}

li {
  display: inline-block;
  border: 2px solid white;
  margin: 15px;
}

img {
  object-fit: contain;
  width: 300px;
  height: 300px;
  margin: 15px;
}

#images {
  border: 2px solid cornsilk;
  border-radius: 50px;
}
